button {
  font-family: inherit;
  height: 40px;
  border: none;
  background: var(--panel-background-color);
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid var(--button-background-color);
  color: var(--font-color);
  cursor: pointer;
  text-transform: uppercase;

  &.primary {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--background-color);
    background-color: var(--button-background-color);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--button-hover-background-color);
    }
  }

  &.icon {
    &:hover,
    &:active,
    &:focus {
      border-color: var(--focus-color);
    }
  }

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
  }

  &:hover {
    background-color: rgba(187, 187, 187, 0.466);
  }
}
